{% extends "layout.html" %}
{% block body %}

<h2>Home</h2>
  {% if session.username %}
    <h3>Add a kid</h3>
    <form action="{{ url_for('add_kid') }}" method="post">
        <dl>
            <dt>Name:</dt>
            <dd><input type="text" size="30" name="name"></dd>
        </dl>
        <input type="submit" value="Share">
    </form>
    <h3>Add a goal to an existing kid</h3>
    <h3>Add a fitbit to an existing kid (will create associated goal)</h3>
  {% endif %}

<br>

<!-- <h3>Today's Recent Posts</h3>
{% include "display_posts.html" %}

{% endblock %} -->