{% extends "layout.html" %}
{% block body %}

<h2>{{ username }}'s profile</h2>

{% if session.username %}
    {% if session.username == username %}
        <h3>Your kids:</h3>

          {% for kid in kids %}
            <p>
            {{ ", ".join(kid.name) }}
            </p>
          {% else %}
            <p>There aren't any users who've blogged about the same tags as you!</p>
          {% endfor %}

        <h3>Your recent posts:</h3>

    {% else %}

  <p>{{ username }} has liked {{ common.likes }} of your {{kids}} and
      {% if common.tags %}
      also blogs about <i>{{ ", ".join(common.tags) }}</i>
      {% else %}
      hasn't blogged about any of the same tags
      {% endif %}
  </p>

  <h3>{{ username }}'s recent posts:</h3>

    {% endif %}
{% endif %}

{% include "display_posts.html" %}

{% endblock %}